# Ignore pycache
__pycache__
# Ignore csv files
*.csv
# Ignore npz files
*.npz
# Ignore png files
*.png
# Ignore eps files
*.eps
# Ignore pdf files
*.pdf
# Ignore svg files
*.svg
# Ignore ps files
*.ps
# Ignore com files
*.com
# Ignore inp files
*.inp
# Ignore mol files
*.mol
