# Ignore pycache
__pycache__
.pytest_cache
# Ignore swap files
*.swp
# Ignore csv files
*.csv
# Ignore npz files
*.npz
# Ignore png files
*.png
# Ignore eps files
*.eps
# Ignore pdf files
*.pdf
# Ignore svg files
*.svg
# Ignore ps files
*.ps
# Ignore com files
*.com
# Ignore inp files
*.inp
# Ignore mol files
*.mol
# Ignore pot files
*.pot
# Ignore xyz files
*.xyz
# Ignore vscode settings
.vscode
# Ignore build folder
build
# Ignore Kurt.egg-info
Kurt.egg-info
